.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tasks__container{
    background-color: #fff;
    width: 98%;
    height: 80%;
}

.tasks, .urgent__tasks, .important__tasks, .notImportant__tasks{
    background-color: aquamarine;
    width: 23%;
}