html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	z-index: -100;
	width: 100vw;
	height: 100vh;
}

::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para el track (raíl) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del track */
}

/* Estilos para el thumb (la barra deslizante) */
::-webkit-scrollbar-thumb {
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e); ; /* Color de la barra deslizante */
    border-radius: 6px; /* Ajuste de bordes */
}

/* Estilos cuando se pasa el mouse sobre la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color de la barra deslizante al pasar el mouse */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
}